@import url("https://fonts.cdnfonts.com/css/norse");

html {
    box-sizing: border-box;
    font-size: 16px;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

ol,
ul {
    list-style: none;
}

#main-container {
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
}

.main-left {
    background-image: url("images/bg-img.jpg");
    background-position: center;
    background-size: cover;
    width: 33%;
}

.main-left > div {
    position: relative;
    top: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.odin-logo {
    max-height: 8rem;
}

h1 {
    font-size: 5rem;
    color: white;
    font-family: "Norse", sans-serif;
}

.main-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
}

.intro-section {
    max-width: 700px;
    margin-bottom: 40px;
    padding-left: 30px;
}

.text-section {
    font-size: 1.5rem;
    font-weight: 600;
}

.form-section {
    box-shadow: 0px 10px 10px -10px gray, 0px -2px 5px -5px gray;
    padding: 30px;
}

form {
    display: flex;
    flex-direction: column;

    max-width: 600px;
}

label {
    margin-top: 20px;
}

.form-rows {
    display: flex;
}
.form-fields {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.login-section {
    padding-left: 30px;
}

#create-btn {
    padding: 10px 40px;
    border-radius: 10px;
    border: transparent;
    background-color: #2358ad;
    color: white;
    box-shadow: 5px 5px 10px #2358ad2c;
    margin-top: 25px;
    font-weight: bold;
}

.login-link {
    color: #2358ad;
    text-decoration: none;
}

.login-prompt {
    margin-top: 25px;
}

.form-section > p {
    font-size: 1.5rem;
    font-weight: 600;
}

label {
    font-size: 0.7rem;
}

input {
    border: 1px solid #e5e7eb;
    border-radius: 5px;
    padding: 7px;
    width: 80%;
}

input:focus {
    outline: none;
    border-color: #2358ad;
}

.error {
    color: red;
    height: 10px;
}
