@import url("https://fonts.cdnfonts.com/css/norse");

html {
    box-sizing: border-box;
    font-size: 16px;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

ol,
ul {
    list-style: none;
}

#main-container {
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
}

.main-left {
    background-image: url("images/bg-img.jpg");
    background-position: center;
    background-size: cover;
    width: 33%;
}

.main-left > div {
    position: relative;
    top: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.odin-logo {
    max-height: 8rem;
}

h1 {
    font-size: 5rem;
    color: white;
    font-family: "Norse", sans-serif;
}

.main-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.intro-section {
    max-width: 900px;
    margin-bottom: 40px;
    padding-left: 30px;
}

.text-section {
    font-size: 1.5rem;
    font-weight: bold;
}

.form-section {
    border: 1px solid black;
    width: 100%;
    padding: 30px;
}

form {
    display: flex;
    flex-direction: column;
}

label,
input {
    display: block;
}
